<!-- views/partials/comment.handlebars -->

<div class="card" id="{{this._id}}">
  <div class="card-block">
    <h4 class="card-author">{{this.author}}</h4>
    <p class="card-text">{{this.content}}</p>
    <!-- Delete link -->
    <form method="POST" action="/nuggets/{{this.nuggetId}}/comments/{{this._id}}?_method=DELETE">
        <button type="submit">Delete</button>
    </form>
    </form></p>
  </div>
</div>
